index page
<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <h3><%= recipe.title %></h3>
  <p><b>Description:</b> <%= recipe.description %></p>

  
  <div>
    <%= link_to  edit_recipe_path(recipe) do %>
      <%= image_tag recipe.recipe_photo_path, height:200, style: "border: 1px solid black"%> 
    <% end %>
  </div>
<% end %>
